@tailwind base;
@tailwind components;
@tailwind utilities;

.avatar{
    width: 120px;
    border-radius: 100px;
}
.hero{
    background-image: url("/src/Components/Layout/Assets/herosec.png");
    background-size: contain;
}